:root {
    --black: #000;
    --blue: #06aed5;
    --green: #77dd77;
    --grey:#d3d3d3;
    --red: #ff6961;
    --white: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--black);
  border-left: 1px solid var(--black);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--white);
}

.hour {
  background-color: var(--white);
  color: var(--black);
  border-top: 1px dashed var(--black);
}

.past {
  background-color: var(--grey);
  color: var(--white);
}

.present {
  background-color: var(--red);
  color: var(--white);
}

.future {
  background-color: var(--green);
  color: var(--white);
}

.saveBtn {
  border-left: 1px solid var(--black);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--blue);
  color: var(--white);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
